<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Category - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">
        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/">
                        <img src="images/no-lift-one-logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">

                    <li>
                        <a href="https://www.facebook.com/groups/votenoliftone/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="post" class="header__search-form" action="/support/insert">
                        <label>
                            <span class="hide-content">Join the fight:</span>
                            <input type="search" class="search-field" placeholder="Enter Email" value="" name="email"
                                autocomplete="off">
                            <input type="search" class="search-field" placeholder="Enter Name" name="name" autocomplete="off">
                            <input type="search" class="search-field" placeholder="Enter Reason" name="reason"
                                autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div> <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class=""><a href="/" title="">Home</a></li>
                        <li class="">
                            <a href="/vote" title="">Vote on 3/5</a>
                            <ul class="sub-menu">


                            </ul>
                        </li>
                        <li class="current">
                            <a href="/facts" title="">Facts</a>
                            <ul class="sub-menu">

                            </ul>
                        </li>
                        <li class="">
                            <a href="/supporters" title="">Supporters</a>
                            <ul class="sub-menu">

                            </ul>
                        </li>
                        <li class="">
                            <a href="/press" title="">Press</a>

                        </li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
    </div> <!-- header-content -->
    </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1>Facts </h1>

            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                <article class="masonry__brick entry format-standard" data-aos="fade-up">



                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="single-standard.html">Fact Sheet – Lift One Corridor</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <p>
                                On January 7, 2019, the Aspen City Council passed Resolution No. 2, Series of 2019 by a
                                3-2 vote. This resolution has the effect of referring two ordinances to City of Aspen
                                voters for consideration in the March 5th general election. The two ordinances,
                                Ordinance No. 38, Series of 2018 (Lift One Lodge) and Ordinance No. 39, Series of 2016
                                (Gorsuch Haus) are being considered together under a single ballot question. A “yes”
                                vote will grant approval to the Lift One Lodge and Gorsuch Haus lodge projects and the
                                other related aspects of the Lift One Corridor project, including a lower lift
                                location, ski corridor, and parks improvements. A “no” vote will deny both ordinances
                                and the Lift One Corridor project will not progress as currently proposed.
                            </p>
                        </div>

                    </div>

                </article> <!-- end article -->



                <article class="masonry__brick entry format-standard">

                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="https://www.cityofaspen.com/ImageRepository/Document?documentId=4037" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="single-standard.html">
                                    Willoughby and Lift One Parks</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <ul>
                                <li> Direct skier access from Dean Street
                                </li>
                                <li> Return skiing to Dean Street
                                </li>
                                <li> A new, ski lift terminal in Willoughby Park
                                </li>
                                <li> A ski museum, operated by the Aspen Historical Society (AHS)
                                </li>
                                <li> Skier services and ski patrol facilities, operated by Aspen Skiing Company (ASC)
                                </li>
                                <li> In connection with the future Dolensik Gardens,
                                </li>
                                <li> a year-round park amenity
                                </li>
                                <li> Relocated and restored Skiers’ Chalet Lodge
                                </li>
                                <li> Relocated and restored historic Lift 1 bull wheel and towers
                                </li>
                                <li> Dean Street Improvements – one-way traffic flow (west to east); bicycle and
                                    pedestrian infrastructure and a drop-off lane
                                </li>
                                <li> Access to a subgrade parking garage that includes 5o public parking spaces and the
                                    required parking (76 spaces) for Lift One Lodge</li>
                            </ul>
                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">



                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="single-standard.html">Lift One Lodge</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <ul>
                                <li> Two (2) buildings with a total gross floor area of approximately 203,000 square
                                    feet
                                </li>
                                <li>A maximum height of 53.3 feet (west building) and 47.5 feet (east building)
                                </li>
                                <li>34 time share lodge units, with 104 timeshare lodge keys (each key is a rentable
                                    room).
                                </li>
                                <li>Six (6) free-market residential units
                                </li>
                                <li>One (1) employee housing unit
                                </li>
                                <li>Relocated and restored Skiers’ Chalet Steakhouse, proposed as a restaurant/bar
                                </li>
                                <li>Additional commercial space within the Lift One Lodge west building
                                </li>
                                <li>A cul-de-sac that establishes a terminus of Gilbert Street
                                </li>
                                <li>Provision of Affordable Housing mitigation pursuant to the current Land Use Code
                                </li>
                                <li>*Estimated at a total of 45.62 FTE (full-time equivalent), Category 4</li>
                            </ul>
                        </div>

                    </div>

                </article> <!-- end article -->
                <article class="masonry__brick entry format-standard" data-aos="fade-up">



                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="single-standard.html">Gorsuch Haus</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <ul>
                                <li> A lodge building with a total gross floor area of approximately 121,000 square
                                    feet
                                </li>
                                <li> A maximum height of 40 feet
                                </li>
                                <li>81 lodge keys
                                </li>
                                <li>Four (4) free-market residential units
                                </li>
                                <li>One (1) employee housing unit
                                </li>
                                <li>Commercial space within the lodge building
                                </li>
                                <li>56 parking spaces in a sub-grade parking garage
                                </li>
                                <li>A new cul-de-sac creating a terminus at the top of South Aspen Street
                                </li>
                                <li>Existing Lift 1A and related skier services and ski patrol facilities are relocated
                                    downhill to new location in Willoughby Park
                                </li>
                                <li>Continued maintenance road access for Aspen Skiing Company
                                </li>
                                <li>A preserved skier-return from the Norway ski run
                                </li>
                                <li>Provision of Affordable Housing mitigation pursuant to the Land Use Code
                                </li>
                                <li>*Estimated at a total of 21.68 FTE (full-time equivalent), Category 4</li>

                            </ul>
                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">



                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="single-standard.html">Technical aspects of what these
                                    ordinances would approve:</a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <ul>
                                <li> Lot reconfiguration (Subdivision) and Rezoning for both Lift One Lodge and Gorsuch
                                    Haus projects</li>
                                <li> Exchange of property between the City of Aspen and Lift One Lodge</li>
                                <li> Approval of uses (commercial and ski museum) on a city park</li>
                                <li> Vacation of city rights-of-way (a portion of S. Aspen and Gilbert Streets)</li>
                                <li> Easements across city parks for sub-grade parking and ski corridor</li>
                                <li> A prohibition on new residential development on vacant Gorsuch Haus Lot 2, unless
                                    approved by a future vote</li>
                                <li> A plan for evaluating and implementing winter maintenance strategies (including
                                    snowmelt) for S. Aspen Street</li>


                            </ul>
                        </div>

                    </div>

                </article> <!-- end article -->


                <article class="masonry__brick entry format-standard" data-aos="fade-up">



                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="single-standard.html">Financial contribution from the
                                    City of Aspen

                                </a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <ul>
                                <li>Approval of the ordinances would commit the City of Aspen to contribute $4,360,000
                                    to the project to be paid to Lift One Lodge at the point that the new ski lift in
                                    Willoughby Park is in working condition.</li>
                                <li>These funds, while not specifically dedicated to these purposes, are related to
                                    costs associated with the re-design of Dean Street, and the relocation and
                                    restoration of the Skiers’ Chalet Lodge. Lift One Lodge is required to complete
                                    these aspects of the project. The City’s contribution reflects a commitment to
                                    these public facing aspects of the project.</li>
                                <li>To comply with Colorado’s TABOR requirements, the committed contribution from the
                                    City must be appropriated in 2019 and held in an interest-bearing escrow account
                                    until the new lift is complete and working and the contribution is paid, or the
                                    vesting period for the project expires.</li>
                            </ul>
                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">



                    <div class="entry__text">
                        <div class="entry__header">


                            <h1 class="entry__title"><a href="single-standard.html">For further information on the Lift
                                    One Corridor Project, please contact:

                                </a></h1>

                        </div>
                        <div class="entry__excerpt">
                            <ul>
                                <li>City of Aspen Community Development Department – 970.920.5090</li>
                                <li>Ben Anderson, Planner II – Lift One Lodge and City Parks;
                                    ben.anderson@cityofaspen.com</li>
                                <li>Mike Kraemer, Senior Planner – Gorsuch Haus; mike.kraemer@cityofaspen.com</li>
                            </ul>
                        </div>

                    </div>

                </article> <!-- end article -->


            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        ]

    </section> <!-- s-content -->


    <!-- s-extra
    ================================================== -->




    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>