<!-- pageheader
    ================================================== -->
<section class="s-pageheader s-pageheader--home">

    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a class="logo" href="/">
                    <img src="images/no-lift-one-logo.png" alt="Homepage">
                </a>
            </div> <!-- end header__logo -->

            <ul class="header__social">

                <li>
                    <a href="https://www.facebook.com/groups/votenoliftone/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/fortheloveof1a/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->

            <a class="header__search-trigger" href="#0"></a>

            <div class="header__search">

                <form role="search" method="post" class="header__search-form" action="/support/insert">
                    <label>
                        <span class="hide-content">Join the fight:</span>
                        <input type="search" class="search-field" placeholder="Enter Email" value="" name="email"
                            autocomplete="off">
                        <input type="search" class="search-field" placeholder="Enter Name" name="name" autocomplete="off">
                        <input type="search" class="search-field" placeholder="Enter Reason" name="reason" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

            </div> <!-- end header__search -->


            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

                <ul class="header__nav">
                    <li class="current"><a href="/" title="">Home</a></li>
                    <li class="">
                        <a href="/vote" title="">Vote on 3/5</a>
                        <ul class="sub-menu">


                        </ul>
                    </li>
                    <li class="">
                        <a href="/facts" title="">Facts</a>
                        <ul class="sub-menu">

                        </ul>
                    </li>
                    <li class="">
                        <a href="/supporters" title="">Supporters</a>
                        <ul class="sub-menu">

                        </ul>
                    </li>
                    <li class="">
                        <a href="/press" title="">Press</a>

                    </li>
                </ul> <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div> <!-- header-content -->
    </header> <!-- header -->


    <div class="pageheader-content row">
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry container" style="background-image:url('/images/Biltmore_zoe.png');">

                        <div id="slideshow">
                            <div class="elemnt"></div>
                            <div class="elemnt1"></div>
                            <div class="elemnt2"></div>
                            {{!-- <div class="elemnt3"><span>Text Slider 4</span></div> --}}
                        </div>


                        <div class="entry__content">



                            <div class="entry__info">



                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->


            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div> <!-- end pageheader-content row -->

</section> <!-- end s-pageheader -->








<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<!-- Java Script
    ================================================== -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>