<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Category - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">
        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/">
                        <img src="images/no-lift-one-logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">

                    <li>
                        <a href="https://www.facebook.com/groups/votenoliftone/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/fortheloveof1a/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="post" class="header__search-form" action="/support/insert">
                        <label>
                            <span class="hide-content">Join the fight:</span>
                            <input type="search" class="search-field" placeholder="Enter Email" value="" name="email"
                                autocomplete="off">
                            <input type="search" class="search-field" placeholder="Enter Name" name="name" autocomplete="off">
                            <input type="search" class="search-field" placeholder="Enter Reason" name="reason"
                                autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div> <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class=""><a href="/" title="">Home</a></li>
                        <li class="">
                            <a href="/vote" title="">Vote on 3/5</a>
                            <ul class="sub-menu">


                            </ul>
                        </li>
                        <li class="">
                            <a href="/facts" title="">Facts</a>
                            <ul class="sub-menu">

                            </ul>
                        </li>
                        <li class="">
                            <a href="/supporters" title="">Supporters</a>
                            <ul class="sub-menu">

                            </ul>
                        </li>
                        <li class="current">
                            <a href="/press" title="">Press</a>

                        </li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
    </div> <!-- header-content -->
    </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1>Press</h1>


            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>



                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspentimes.com/opinion/aspen-times-editorial-lift-one-ballot-question-carries-too-much-baggage/"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQBxkZ6hK_t69rOw&w=540&h=282&url=https%3A%2F%2Fwww.aspentimes.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffacebook-thumbnail-1200.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQDoCjXsAdQdoxLz"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">February 22, 2019</a>
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspentimes.com/opinion/aspen-times-editorial-lift-one-ballot-question-carries-too-much-baggage/">Aspen
                                    Times Editorial: Lift One ballot question carries too much baggage</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->


                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspentimes.com/opinion/letters-to-the-editor/yes-to-myrin-no-to-lift-one/?fbclid=IwAR1-xJ5gsq8pPk70LPxZyDVIdqigmPEfDebiapvW6G9FW6o1e-OWSDHmHjM"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQBxkZ6hK_t69rOw&w=540&h=282&url=https%3A%2F%2Fwww.aspentimes.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffacebook-thumbnail-1200.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQDoCjXsAdQdoxLz"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">February 17, 2019</a>
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspentimes.com/opinion/letters-to-the-editor/yes-to-myrin-no-to-lift-one/?fbclid=IwAR1-xJ5gsq8pPk70LPxZyDVIdqigmPEfDebiapvW6G9FW6o1e-OWSDHmHjM">‘Yes’
                                    to Myrin, ‘no’ to Lift One</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->


                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspentimes.com/opinion/letters-to-the-editor/lift-one-trade-off-a-rip-off/?fbclid=IwAR3Q4Rh0eo6ui2asCWlEWaNdX9RqikHl1s6-ZFRDTU5C963noY6AH3YXtu0"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQBxkZ6hK_t69rOw&w=540&h=282&url=https%3A%2F%2Fwww.aspentimes.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffacebook-thumbnail-1200.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQDoCjXsAdQdoxLz"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                February 17, 2019
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspentimes.com/opinion/letters-to-the-editor/lift-one-trade-off-a-rip-off/?fbclid=IwAR3Q4Rh0eo6ui2asCWlEWaNdX9RqikHl1s6-ZFRDTU5C963noY6AH3YXtu0">
                                    Lift One trade-off a rip-off</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspentimes.com/opinion/letters-to-the-editor/sink-the-lift-one-cruise-ships/?fbclid=IwAR3yj5rpx9uMmBCghk01QgY5Keb9D6abLPWInzO8guEwtnnFeDfqr0BDf7I"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQBxkZ6hK_t69rOw&w=540&h=282&url=https%3A%2F%2Fwww.aspentimes.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffacebook-thumbnail-1200.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQDoCjXsAdQdoxLz"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">February 17, 2019</a>
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspentimes.com/opinion/letters-to-the-editor/sink-the-lift-one-cruise-ships/?fbclid=IwAR3yj5rpx9uMmBCghk01QgY5Keb9D6abLPWInzO8guEwtnnFeDfqr0BDf7I">
                                    Sink the Lift One cruise ships</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspentimes.com/opinion/letters-to-the-editor/stop-the-vailization-of-aspen/?fbclid=IwAR3tZAtBRCOlP7PniZYNvNj5WzOEWb34MYaSxnFsL0hzB0CfsQfC1awZO5E"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQBxkZ6hK_t69rOw&w=540&h=282&url=https%3A%2F%2Fwww.aspentimes.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffacebook-thumbnail-1200.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQDoCjXsAdQdoxLz"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">February 17, 2019</a>
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspentimes.com/opinion/letters-to-the-editor/stop-the-vailization-of-aspen/?fbclid=IwAR3tZAtBRCOlP7PniZYNvNj5WzOEWb34MYaSxnFsL0hzB0CfsQfC1awZO5E">
                                    Stop the Vailization of Aspen</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspentimes.com/opinion/letters-to-the-editor/the-lift-one-extortion/?fbclid=IwAR0o6V_69rkGKceu9e7vm7pEO_vBWw9jgfCLqKvkvisNLZv8ziysYhOZ7r8"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQBxkZ6hK_t69rOw&w=540&h=282&url=https%3A%2F%2Fwww.aspentimes.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffacebook-thumbnail-1200.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQDoCjXsAdQdoxLz"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">February 16, 2019</a>
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspentimes.com/opinion/letters-to-the-editor/the-lift-one-extortion/?fbclid=IwAR0o6V_69rkGKceu9e7vm7pEO_vBWw9jgfCLqKvkvisNLZv8ziysYhOZ7r8">
                                    The Lift One extortion</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspentimes.com/opinion/letters-to-the-editor/lift-one-will-cater-to-the-rich/?fbclid=IwAR094bHbS6vQi8gQ3H_m3uxvvAOHq0MY1lRWGerfBonDwfdRanGqFfGHASQ"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQBxkZ6hK_t69rOw&w=540&h=282&url=https%3A%2F%2Fwww.aspentimes.com%2Fwp-content%2Fuploads%2F2016%2F08%2Ffacebook-thumbnail-1200.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQDoCjXsAdQdoxLz"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">February 16, 2019</a>
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspentimes.com/opinion/letters-to-the-editor/lift-one-will-cater-to-the-rich/?fbclid=IwAR094bHbS6vQi8gQ3H_m3uxvvAOHq0MY1lRWGerfBonDwfdRanGqFfGHASQ">
                                    Lift One will cater to the rich</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspendailynews.com/opinion/why-the-millions-from-taxpayers/article_3ceab6c4-31a5-11e9-8f30-ab816fe750aa.html?fbclid=IwAR02lssCPgbz4Pi-tMnQNjqLUmm2kE2TIgrltucQallVfTFEEtoB3M6VbNA"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQDwf7xBEeDy44qi&w=540&h=282&url=https%3A%2F%2Fbloximages.newyork1.vip.townnews.com%2Faspendailynews.com%2Fcontent%2Ftncms%2Fcustom%2Fimage%2Fe9810dd8-181a-11e9-8d1c-2bf53ccfb6f5.jpg&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQBd7Cfm1fEhDFbE"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">February 16, 2019</a>
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspendailynews.com/opinion/why-the-millions-from-taxpayers/article_3ceab6c4-31a5-11e9-8f30-ab816fe750aa.html?fbclid=IwAR02lssCPgbz4Pi-tMnQNjqLUmm2kE2TIgrltucQallVfTFEEtoB3M6VbNA">
                                    Why the millions from taxpayers?</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->



                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="https://www.aspendailynews.com/opinion/myrin-development-should-pay-its-way-starting-with-lift-one/article_b5e8674a-2f2c-11e9-8d90-67ffc9ffc51c.html?fbclid=IwAR0Xhc_QB5P6BSSQsrg6-ITeP_n756D3dnw5YCsPBAmyASUMkInVSYkshBc"
                            class="entry__thumb-link">
                            <img src="https://external.fapa1-1.fna.fbcdn.net/safe_image.php?d=AQB_ZVNMuiUpQTM7&w=540&h=282&url=https%3A%2F%2Fbloximages.newyork1.vip.townnews.com%2Faspendailynews.com%2Fcontent%2Ftncms%2Fassets%2Fv3%2Feditorial%2F4%2F0c%2F40c183e8-1dfc-11e9-8adb-7358ef908f2d%2F5c4698b6a970b.image.jpg%3Fresize%3D593%252C630&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQA9tN5rI0LOzO7o"
                                alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                February 13, 2019
                            </div>
                            <h1 class="entry__title"><a href="https://www.aspendailynews.com/opinion/myrin-development-should-pay-its-way-starting-with-lift-one/article_b5e8674a-2f2c-11e9-8d90-67ffc9ffc51c.html?fbclid=IwAR0Xhc_QB5P6BSSQsrg6-ITeP_n756D3dnw5YCsPBAmyASUMkInVSYkshBc">
                                    Myrin: Development should pay its way, starting with Lift One</a></h1>

                        </div>
                        <div class="entry__excerpt">

                        </div>

                    </div>

                </article> <!-- end article -->





            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        ]

    </section> <!-- s-content -->


    <!-- s-extra
    ================================================== -->





    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>