<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Category - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="/">
                        <img src="images/no-lift-one-logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">

                    <li>
                        <a href="https://www.facebook.com/groups/votenoliftone/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="post" class="header__search-form" action="/support/insert">
                        <label>
                            <span class="hide-content">Join the fight:</span>
                            <input type="search" class="search-field" placeholder="Enter Email" value="" name="email"
                                autocomplete="off">
                            <input type="search" class="search-field" placeholder="Enter Name" name="name" autocomplete="off">
                            <input type="search" class="search-field" placeholder="Enter Reason" name="reason"
                                autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div> <!-- end header__search -->

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class=""><a href="/" title="">Home</a></li>
                        <li class="current">
                            <a href="/vote" title="">Vote on 3/5</a>
                            <ul class="sub-menu">


                            </ul>
                        </li>
                        <li class="">
                            <a href="/facts" title="">Facts</a>
                            <ul class="sub-menu">

                            </ul>
                        </li>
                        <li class="">
                            <a href="/supporters" title="">Supporters</a>
                            <ul class="sub-menu">

                            </ul>
                        </li>
                        <li class="">
                            <a href="/press" title="">Press</a>

                        </li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
    </div> <!-- header-content -->
    </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1 class="fact-h1">Voting Info </h1>


                <ul>
                    <li class="fact-bold">
                        <h5 class="fact-h5"> When is the City of Aspen Municipal Election taking place?</h5>
                        <p class="
                            not-bold"> March 5, 2019 </p>
                    </li>

                    <li class="fact-bold">
                        <h5 class="fact-h5">Who can vote? </h5>
                        <p class="
                        not-bold"> All registered
                            City of
                            Aspen voters are eligible
                            to
                            vote.</p>
                    </li>

                    <li class="fact-bold">
                        <h5 class="fact-h5">How can residents register to vote? </h5>
                        <p class="
                        not-bold">
                            Online at
                            <a href="https://www.sos.state.co.us/voter/pages/pub/home.xhtml">www.govotecolorado.com;</a>
                            online at
                            <a href="https://www.pitkinvotes.com/">www.pitkinvotes.com;</a> or, by texting "CO2VOTE" to
                            28683 from your smartphone, or by submitting an
                            application
                            to the Pitkin County Clerk's office
                            through mail or in person. </p>
                    </li>

                    <li class="fact-bold">
                        <h5 class="fact-h5">Is there a deadline to register to vote?</h5>
                        <p class="
                        not-bold"> Colorado voters may
                            register on election day.</p>
                    </li>
                    <li class="fact-bold">
                        <h5 class="fact-h5"> When are ballots being mailed? </h5>
                        <p class="
                        not-bold">
                            Ballots
                            were mailed February
                            11,
                            2019.</p>
                    </li>
                    <li class="fact-bold">
                        <h5 class="fact-h5">What do voters do with their ballots? </h5>
                        <p class="
                        not-bold">
                            This is a mail-in
                            election,
                            so fill out the ballot
                            and
                            mail it back in the envelope provided.</p>
                    </li>

                    <li style="display: block; padding-bottom: 20px; ">
                        <h5 class="fact-h5">What’s the deadline to vote? </h5>
                        <p> Tuesday
                            March 5, 2019.</p>
                    </li>
                </ul>

            </div>
        </div>



    </section> <!-- s-content -->







    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>